<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">


  <thead>
  <tr>
    <th>code</th>
    <th>price</th>
    <th>change</th>
    <th>volume</th>
    <th>message</th>
    <th>indicator</th>
    <th>news</th>
    <th>date</th>
  </tr>

  </thead>

  <tbody>
  <tr *ngFor="let datas of  wishlistSummary">
    <td><a
      href="http://bigcharts.marketwatch.com/advchart/frames/frames.asp?show=&insttype=Stock&symb=AU%3A{{datas.code.substring(
            0,datas.code.indexOf( '.' )
            )}}&time=8&startdate=1%2F4%2F1999&enddate=8%2F28%2F2018&freq=1&compidx=aaaaa%3A0&comptemptext=&comp=none&ma=3&maval=50&uf=0&lf=1&lf2=0&lf3=0&type=2&style=320&size=4&x=49&y=15&timeFrameToggle=false&compareToToggle=false&indicatorsToggle=false&chartStyleToggle=false&state=11"
      target="_blank"
    >{{datas.code}}</a></td>

    <td> {{datas.price}}</td>
    <td [ngStyle]="{backgroundColor : datas.change > 0 ? 'green' : 'red' }"> {{datas.change * 100}}%</td>

    <td> {{datas.volume}}</td>
    <td> {{datas.message}}</td>
    <td></td>
    <td>
      <span *ngFor="let mynews of  datas.news">
        <a href="{{ mynews.link }}">{{mynews.title}}</a> ,
      </span>
    </td>
    <td> {{datas.date}}</td>


  </tbody>
</table>
