<h1>trackerchart list</h1>
<!--<div *ngIf="load">-->
<!--  <app-spin-load-icon></app-spin-load-icon>-->
<!--</div>-->

<!--<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1px grid" width="100%">-->
<!--  <div *ngFor="let imgof of bigchartcompare">-->
<!--    <h4>{{imgof.code | uppercase}} || Year : {{imgof.year}} </h4>-->
<!--    <img alt="Embedded Image" [ngStyle]="{'width.px':width}" src="{{imgof.imagedata}}">-->

<!--  </div>-->
<!--</div>-->
<!--<app-bigchartview [codes]="code"></app-bigchartview>-->
