<app-displaychart [codes]="codes"></app-displaychart>


<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">


  <thead>
  <tr>
    <th>code</th>
    <th>change</th>
    <th>chart</th>
    <th>week</th>
    <th>twenty %</th>
    <th>fifty %</th>
    <th>onehundred %</th>
    <th>covid-100 %</th>

    <th>twohundred %</th>
    <th>covid-200 %</th>

    <th>days-> -100d %</th>
    <th>days-< -100d %</th>
    <th>days-> -200d %</th>
    <th>days-< -200d %</th>
    <th>year</th>
    <th>marketcap</th>
    <th>pe</th>
    <th>yield</th>
    <th>chart</th>

  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let datas of  wishlistDetail">
    <td><a
      href="http://bigcharts.marketwatch.com/advchart/frames/frames.asp?show=&insttype=Stock&symb=AU%3A{{datas.code.substring(
            0,datas.code.indexOf( '.' )
            )}}&time=8&startdate=1%2F4%2F1999&enddate=8%2F28%2F2018&freq=1&compidx=aaaaa%3A0&comptemptext=&comp=none&ma=3&maval=50&uf=0&lf=1&lf2=0&lf3=0&type=2&style=320&size=4&x=49&y=15&timeFrameToggle=false&compareToToggle=false&indicatorsToggle=false&chartStyleToggle=false&state=11"
      target="_blank"
    >{{datas.code}}</a></td>
    <td> {{datas.change}}</td>
    <td>
      <app-tinychart [code]="datas.code" [size]="'tiny'"></app-tinychart>
    </td>
    <td> {{ ((datas.endthisweek - datas.startthisweek) / datas.startthisweek)  | percent:'1.2'}}</td>

    <td> {{datas.percentage20 }}</td>
    <td> {{datas.percentage50 }}</td>
    <td
      [ngStyle]="(datas.percentage100 < 0)?{'background-color': 'yellow'} : {'background-color': ''}"> {{datas.percentage100 }}
      %
    </td>
    <td> {{datas.lowestma100 }}%</td>

    <!--    <td> {{datas.percentage200 }}</td>-->
    <td
      [ngStyle]="(datas.percentage200 < 0)?{'background-color': 'red'} : {'background-color': ''}"> {{datas.percentage200 }}
      %
    </td>
    <td> {{datas.lowestma200 }}%</td>
    <td> {{datas.countMA100 }}</td>
    <td> {{100 - datas.countMA100  | number : '1.2-2' }}</td>
    <td> {{datas.countMA200 }}</td>
    <td> {{100 - datas.countMA200  | number : '1.2-2' }}</td>

    <td> {{ ((datas.today - datas.yearhigh) / datas.yearhigh)  | percent:'1.2'}}</td>
    <td> {{datas.marketcap}}</td>
    <td> {{datas.pe}}</td>
    <td> {{datas.yield}}</td>
    <td>

      <button mat-button (click)="randomchart(datas.code)">
        <mat-icon>zoom_in</mat-icon>
      </button>
    </td>

  </tr>


  </tbody>


</table>
<!--highthisweeK: number,-->
<!--minthisweek: number,-->
<!--endthisweek: number,-->
<!--startthisweek: number,-->
<!--today: number,-->
<!--yearhigh: number-->
