<p>
  bigchartview works!
</p>
<button class="btn btn-primary" (click)="goClick()"> {{buttontext}}</button>
&nbsp;&nbsp;
<button class="btn btn-primary" (click)="goClick2()"> {{buttontext2}}</button>
<div *ngIf="load">
  <app-spin-load-icon></app-spin-load-icon>
</div>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1px grid" width="100%">
  <div *ngFor="let imgof of bigcharts" fxFlex style="margin: 1px;">

    <h4>{{imgof.code | uppercase}} || Year : {{imgof.year}} </h4>
    <!--    <img  alt="Embedded Image" width="700" src="{{imgof.imagedata}}">-->
    <!--    <img alt="Embedded Image" src="{{imgof.imagedata}}">-->
    <!--    <img alt="Embedded Image" [width]="width" src="{{imgof.imagedata}}">-->
    <!--    <img alt="Embedded Image" [style]="width" src="{{imgof.imagedata}}">-->
    <img alt="Embedded Image" [ngStyle]="{'width':width}" src="{{imgof.imagedata}}">

  </div>
  <div fxFlex style="margin: 1px;">
    <app-tinychart [size]="'large'" [code]="code+'.AX'">
    </app-tinychart>
  </div>
  <div fxFlex style="margin: 1px;">
    <app-tinychart [size]="'large'" [year]="3" [code]="code+'.AX'">
    </app-tinychart>
  </div>

  <div fxFlex style="margin: 1px;">
    <div style="width:1200px;height:1200px">
      <app-chartx [codes]="code+'.AX'">
      </app-chartx>
    </div>

  </div>
  <div fxFlex style="margin: 1px;">
    <div style="width:1200px;height:1200px">
      <app-chartx [codes]="code+'.AX'" [year]="3">
      </app-chartx>
    </div>

  </div>
</div>


