<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--    <button mat-button [matMenuTriggerFor]="menu">Menu</button>-->
    <!--    <mat-menu #menu="matMenu">-->
    <!--      <button mat-menu-item> Config</button>-->
    <!--      <button mat-menu-item> Favourite</button>-->
    <!--    </mat-menu>-->
    <!--    <button mat-button>logout</button>-->

    <!--    <input matInput [matDatepicker]="expiration1" (dateChange)="EndDateChange($event)" [ngModel]="date">-->
    <!--    <mat-datepicker-toggle matSuffix [for]="expiration1"></mat-datepicker-toggle>-->
    <!--    <mat-datepicker #expiration1></mat-datepicker>-->
    <a href="/tracker/list/SHORT">list </a>


  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>
