<mat-label> Filter for reject:</mat-label><input type="checkbox" [(ngModel)]="isreject" (change)="FieldsChange($event)">
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">

  <thead>
  <tr>
    <th>date</th>
    <th>code</th>
    <th>reject</th>
    <th>text</th>
  </tr>

  </thead>


  <tbody>
  <tr *ngFor="let datas of  data">
    <td>{{datas.date}}</td>
    <td> {{datas.code }}
      <button mat-button (click)="opencommentdialog(datas.id)">
        <mat-icon>waves</mat-icon>
        edit
      </button>
    </td>
    <td> {{datas.isReject }}</td>
    <td> {{datas.text}}</td>
  </tr>
  </tbody>


</table>
