<!--<app-root></app-root>-->


<!--<app-login></app-login>-->
<!--<app-algo></app-algo>-->

<!--<table datatable class="row-border hover">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>code</th>-->
<!--    <th>message</th>-->
<!--    <th>date</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let mydata of data">-->
<!--    <td>{{mydata.code}}</td>-->
<!--    <td>{{mydata.message}}</td>-->
<!--    <td>{{mydata.date}}</td>-->
<!--  </tr>-->

<!--  </tbody>-->
<!--</table>-->

<!--<app-comment-edit></app-comment-edit>-->
<!--<app-multi-icon [code]='code'></app-multi-icon>-->

<!--<app-comment-list [code]='code'></app-comment-list>-->

<!--<app-news-list [code]='code' [month]='6'></app-news-list>-->
<!--<app-detail-list [code]='code'></app-detail-list>-->
<!--<app-share-summary [mycode]='code'></app-share-summary>-->

<!--<app-multi-icon [code]='code' path="algo"></app-multi-icon>-->

<!--<app-chart-stock>ng </app-chart-stock>-->
<!--<app-config-edit></app-config-edit>-->
<!--<app-category-list></app-category-list>-->
<!--<app-bigchartmag></app-bigchartmag>-->
<!--<app-bigchartcompare></app-bigchartcompare>-->


<a href="/algo">data </a>
<a href="/wishlist/wishlistsummary">wishlist </a>
<a href="/algo/newsall">news all </a>
<a href="/other/category">category list </a>
<a href="/algo/bigchartmag">big charts </a>
<a href="/tracker">tracker </a>

<router-outlet></router-outlet>

<!--<app-trackerchartlist></app-trackerchartlist>-->
<!--<app-trackermain></app-trackermain>-->
<!--<app-trackerlist></app-trackerlist>-->
<!--<app-comment-all></app-comment-all>-->
<!--<app-trackercreate></app-trackercreate>-->
<!--<app-trackercode></app-trackercode>-->
<!--<link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/stocktools/gui.css">-->
<!--<link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/annotations/popup.css">-->


<!--<script src="https://code.highcharts.com/stock/highstock.js"></script>-->
<!--<script src="https://code.highcharts.com/stock/modules/data.js"></script>-->

<!--<script src="https://code.highcharts.com/stock/indicators/indicators-all.js"></script>-->
<!--<script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>-->

<!--<script src="https://code.highcharts.com/modules/annotations-advanced.js"></script>-->
<!--<script src="https://code.highcharts.com/modules/price-indicator.js"></script>-->
<!--<script src="https://code.highcharts.com/modules/full-screen.js"></script>-->

<!--<script src="https://code.highcharts.com/modules/stock-tools.js"></script>-->

<!--<app-play></app-play>-->

