<!--&lt;!&ndash;<link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/stocktools/gui.css">&ndash;&gt;-->
<!--&lt;!&ndash;<link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/annotations/popup.css">&ndash;&gt;-->


<!--&lt;!&ndash;<div id="container" style="display: inline-block; width: 1200px; height: 500px; margin: 0;"><h3> container </h3>,</div>&ndash;&gt;-->

<!--<link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/stocktools/gui.css">-->
<!--<link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/annotations/popup.css">-->


<!--<script src="https://code.highcharts.com/stock/highstock.js"></script>-->
<!--<script src="https://code.highcharts.com/stock/modules/data.js"></script>-->

<!--<script src="https://code.highcharts.com/stock/indicators/indicators-all.js"></script>-->
<!--<script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>-->

<!--<script src="https://code.highcharts.com/modules/annotations-advanced.js"></script>-->
<!--<script src="https://code.highcharts.com/modules/price-indicator.js"></script>-->
<!--<script src="https://code.highcharts.com/modules/full-screen.js"></script>-->

<!--<script src="https://code.highcharts.com/modules/stock-tools.js"></script>-->

<!--<div id="container" class="chart"></div>-->
<!--<head>-->
<!--  <link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/stocktools/gui.css">-->
<!--  <link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/annotations/popup.css">-->


<!--</head>-->


<!--<div id="container" class="chart"></div>-->
<!--<highcharts-chart-->
<!--  [Highcharts]="Highcharts"-->
<!--  [options]="chartOptions"-->
<!--  style="width: 100%; height: 400px; display: block;"-->
<!--&gt;</highcharts-chart>-->


<highcharts-chart
  style="width: 100%; display: block"
  [Highcharts]="Highcharts"
  [constructorType]="'stockChart'"
  [options]="chartOptions"
  [callbackFunction]="chartCallback"

>
</highcharts-chart>


<!--<button (click)="updateChart()">View SVG</button>-->
<img alt="Embedded Image" width="1600" src="{{imgof}}">


<canvas #canvas width="1000px" height="600px"
        style="display:none;"></canvas>
<button (click)="updateChart()">View SVG</button>
<!--<button (click)="showChart()">show</button>-->

<!--<app-chartgui *ngIf="toshow" [code]="mycode"></app-chartgui>-->
