<!--<div layout="column">-->
<!--    <md-menu>-->
<!--        &lt;!&ndash; Trigger for menu &ndash;&gt;-->
<!--        <md-button ng-click=""> Log out</md-button>-->

<!--        <md-button ng-click="$mdOpenMenu()"> Actions</md-button>-->
<!--        &lt;!&ndash; Individual menu options and buttons&ndash;&gt;-->
<!--        <md-menu-content>-->
<!--            <md-menu-item>-->
<!--                <md-button> Share</md-button>-->
<!--            </md-menu-item>-->

<!--            <md-menu-item>-->
<!--                <md-button> Copy link</md-button>-->
<!--            </md-menu-item>-->

<!--        </md-menu-content>-->

<!--        -->
<!--    </md-menu>-->

<!--</div>-->

<!--<div layout="row">-->
<!--    <div>-->
<!--        <md-menu md-position-mode="target-right target">-->
<!--            &lt;!&ndash; Trigger for menu &ndash;&gt;-->
<!--            <md-button ng-click="$mdOpenMenu()"> Actions</md-button>-->
<!--            &lt;!&ndash; Individual menu options and buttons&ndash;&gt;-->
<!--            <md-menu-content>-->
<!--                <md-menu-item>-->
<!--                    <md-button> Share</md-button>-->
<!--                </md-menu-item>-->

<!--                <md-menu-item>-->
<!--                    <md-button> Copy link</md-button>-->
<!--                </md-menu-item>-->

<!--            </md-menu-content>-->


<!--        </md-menu>-->
<!--    </div>-->

<!--    <div>-->
<!--        <md-menu md-position-mode="target-right target">-->
<!--            &lt;!&ndash; Trigger for menu &ndash;&gt;-->
<!--            <md-button ng-click="$mdOpenMenu()"> Logoutss1ss2s</md-button>-->
<!--        </md-menu>-->


<!--    </div>-->


<!--</div>-->


<br>

<div layout="row" layout-fill>


    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="$mdMedia('gt-md')" layout="column">
        <md-list>
            <!--            <md-list-item class="secondary-button-padding" ng-click="createnews()"><p> wislist </p>-->
            <!--            </md-list-item>-->

            <md-list-item class="secondary-button-padding" ng-click="createnews()"><p> charts </p>
            </md-list-item>
            <md-subheader class="md-no-sticky">My Features</md-subheader>
            <md-list-item class="secondary-button-padding" ng-click="createnews()"><p> All Stock </p></md-list-item>


            <!--            <md-list-item class="secondary-button-padding" ng-click="">-->
            <md-select ng-model="selectitem" placeholder="wishlist charts" ng-change="updateMode()">
                <md-option ng-value="item" ng-repeat="item in wishlistlist">{{item}}</md-option>
            </md-select>
            <!--            </md-list-item>-->




        </md-list>
    </md-sidenav>
    <!--</div>-->
    <div layout="column" layout-fill ui-view="content"></div>

</div>
