<!--<div *ngFor="let id of chartid" id="{{id}}"-->
<!--     style="display: inline-block; width: 225px; height: 175px; margin: 0;">{{id}}</div>-->


<!--<div id="container0" style="min-width: 100px; max-width: 600px; height: 400px; margin: 0 auto"></div>-->
<!--<div id="name" style="min-width: 100px; max-width: 600px; height: 400px; margin: 0 auto"></div>-->


<div layout="row" *ngFor="let id of chartid">
  <div id="{{id}}" style="display: inline-block; width: 225px; height: 175px; margin: 0;"><h3> {{id}} </h3>,</div>
</div>

<!--<div id="BHP" style="min-width: 100px; max-width: 600px; height: 400px; margin: 0 auto"></div>-->
