<!--<i class="material-icons md-18">face</i>-->

<div class="p-2">

    <md-button class="md-raised" ng-click="list(algoscope)">
        <md-icon md-font-icon="fa fa-th-list"></md-icon>
    </md-button>
    <md-button class="md-raised" ng-click="mychartbutton()">
        <md-icon md-font-icon="fa fa-clock-o"></md-icon>
    </md-button>

</div>


<table id="example" class="table table-bordered table-hover">
    <img ng-if="loading"
         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    <thead>
    <tr>
        <th>code</th>
        <th>name</th>
        <th>type</th>
        <th>message</th>
        <th>indicator</th>
        <th>news</th>
        <th>date</th>

    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="datas in  data">

        <!--        <td> {{datas.code}}</td>-->
        <!--        <td> {{datas.code}}</td>-->
        <!--        <td> {{datas.code.substring( 0,datas.code.indexOf( '.' ) )}}</td>-->

        <td><a
                href="http://bigcharts.marketwatch.com/advchart/frames/frames.asp?show=&insttype=Stock&symb=AU%3A{{datas.code.substring(
            0,datas.code.indexOf( '.' )
            )}}&time=8&startdate=1%2F4%2F1999&enddate=8%2F28%2F2018&freq=1&compidx=aaaaa%3A0&comptemptext=&comp=none&ma=3&maval=50&uf=0&lf=1&lf2=0&lf3=0&type=2&style=320&size=4&x=49&y=15&timeFrameToggle=false&compareToToggle=false&indicatorsToggle=false&chartStyleToggle=false&state=11"
                target="_blank"
        >{{datas.code}}</a></td>


        <td> {{datas.stock.name }}</td>
        <td> {{datas.type }}</td>
        <td> {{datas.message}}</td>
        <!--        <td> abc</td>-->
        <td>
            <md-icon md-font-icon="fa fa-signal" ng-click="chartdetail(datas.code)" style="font-size: 20px"></md-icon>
            <md-icon md-font-icon="fa fa-file-word-o" ng-click="comment(datas.code)" style="font-size: 20px"></md-icon>
            <md-icon md-font-icon="fa fa-book" ng-click="detail(datas.code)" style="font-size: 20px"></md-icon>
            <!--            <md-icon ng-hide="datas.news.length" md-font-icon="fa fa-inbox" ng-click="detail(datas.code)"-->
            <!--                     style="font-size: 20px"></md-icon>-->
            <md-icon ng-show="datas.news.length" tooltip="datas.news" md-font-icon="fa fa-inbox"
                     ng-click="detail(datas.code)"
                     style="font-size: 20px"></md-icon>


        </td>


        <td>
            <table id="example" class="table table-bordered table-hover">
                <tr ng-repeat="news in  datas.news">
                    <td> {{news.title}}</td>
                </tr>
            </table>
        </td>
        <td> {{datas.date}}</td>
    </tr>


    </tbody>
</table>

<!--<md-button ng-click="list(algoscope)"> List</md-button>-->
<!--<md-button ng-click="mychartbutton()"> Actions</md-button>-->
<!--<button type="button"  class="btn btn-primary" ng-click="mychartbutton()">ROUTE A</button>-->

<!--"code": "TGR.AX",-->
<!--"date": "2019-09-04",-->
<!--"type": "RSI below 30% ",-->
<!--"message": "RSI  21.839080459770237"-->