<div layout="row">
    <div>
        <md-menu md-position-mode="target-right target">
            <!-- Trigger for menu -->
            <md-button ng-click="$mdOpenMenu()"> Actions</md-button>
            <!-- Individual menu options and buttons-->
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="gofav()"> Favourite</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button> Copy link</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
    <md-button ng-click="$mdOpenMenu()"> Logout</md-button>
</div>
<br>

<div layout="row" layout-fill>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="$mdMedia('gt-md')" layout="column"
                ui-view="sidebar">
        <md-list>
            <md-list-item ng-repeat="todo in algos" class="secondary-button-padding"
                          ng-click="golink(todo.id ,todo.value)">
                <p>{{todo.id }} : {{todo.value }}</p></md-list-item>

        </md-list>
    </md-sidenav>
    <!--    <div layout="row" layout-fill layout-align="center" ui-view="list"></div>-->

    <div layout="row" flex="125" layout-align="center" layout-wrap ui-view="list"></div>
    <div layout="column" layout-fill ui-view="content"></div>


</div>
