<div layout="row">
    <div>
        <md-menu md-position-mode="target-right target">
            <!-- Trigger for menu -->
            <md-button ng-click="$mdOpenMenu()"> Actions</md-button>
            <!-- Individual menu options and buttons-->
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="goconfig()"> Config</md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button ng-click="gofav()"> Favourite</md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button ng-click="goCat()"> Category</md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button> Copy link</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
    <md-button ng-click="$mdOpenMenu()"> Logout</md-button>
</div>
<br>
<img ng-if="loading"
     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>

<div layout="row" layout-fill>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="$mdMedia('gt-md')" layout="column"
                ui-view="sidebar">
        <md-list>
            <md-list-item ng-repeat="todo in algos" class="secondary-button-padding"
                          ng-click="golink(todo.id ,todo.value)">
                <p>{{todo.id }} : {{todo.value }}</p></md-list-item>

        </md-list>
    </md-sidenav>
    <!--    <div layout="row" layout-fill layout-align="center" ui-view="list"></div>-->

    <div layout="row" flex="125" layout-align="center" layout-wrap ui-view="list"></div>
    <div layout="column" layout-fill ui-view="content"></div>


</div>
