<!--<div class="md-padding" layout="row">-->
<div class="p-2" layout="row">
    <md-select ng-model="category" placeholder="Select your category" ng-change="updateMode() " style="width:350px;">
        <md-option ng-repeat="item in category">{{item}}</md-option>
    </md-select>

    <input type="text"/>
</div>


<table id="example" class="table table-bordered table-hover">
    <!--    <img ng-if="loading"-->
    <!--         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>-->
    <!--    <thead>-->
    <!--    <tr>-->
    <!--        <th>code</th>-->
    <!--        <th>change</th>-->
    <!--        <th>20 ma</th>-->
    <!--        <th>50 ma</th>-->
    <!--        <th>100 ma</th>-->
    <!--        <th>200 ma</th>-->
    <!--    </tr>-->
    <!--    </thead>-->
    <!--    <tbody>-->

    <!--    <tr ng-repeat="datas in  data">-->
    <!--        <td> {{datas.code}}</td>-->
    <!--        <td> {{datas.change}}</td>-->
    <!--        <td> {{datas.twenty}}</td>-->
    <!--        <td> {{datas.fifty}}</td>-->
    <!--        <td> {{datas.onehundred}}</td>-->
    <!--        <td> {{datas.twohundred}}</td>-->
    <!--        &lt;!&ndash;        &lt;!&ndash;        <td> abc</td>&ndash;&gt;&ndash;&gt;-->
    <!--        &lt;!&ndash;        <td> {{datas.200ma}}</td>&ndash;&gt;-->
    <!--        &lt;!&ndash;        <td> {{datas.oneyear}}</td>&ndash;&gt;-->
    <!--        &lt;!&ndash;        <td> {{datas.twoyear}}</td>&ndash;&gt;-->
    <!--    </tr>-->


    <!--    </tbody>-->
</table>
