<app-displaychart></app-displaychart>


<table id="matTable" mat-table [dataSource]="todoDatasource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->


  <!-- code Column -->
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> code</th>
    <td mat-cell *matCellDef="let element">
      <a
        href="http://bigcharts.marketwatch.com/advchart/frames/frames.asp?show=&insttype=Stock&symb=AU%3A{{element.code.substring(
                0,element.code.indexOf( '.' )
                )}}&time=8&startdate=1%2F4%2F1999&enddate=8%2F28%2F2018&freq=1&compidx=aaaaa%3A0&comptemptext=&comp=none&ma=3&maval=50&uf=0&lf=1&lf2=0&lf3=0&type=2&style=320&size=4&x=49&y=15&timeFrameToggle=false&compareToToggle=false&indicatorsToggle=false&chartStyleToggle=false&state=11"
        target="_blank"
      >{{element.code}}</a></td>
  </ng-container>

  <!-- name -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> name</th>
    <td mat-cell *matCellDef="let element">{{element.stock.name}} </td>
  </ng-container>

  <!-- type-->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> type</th>
    <!--    <td mat-cell *matCellDef="let element"><a href="{{element.link}}" target="_blank">{{element.title}} </a></td>-->
    <!--    <td mat-cell *matCellDef="let element">-->
    <!--      <app-tinychart [code]="element.code" [size]="'tiny'"></app-tinychart>-->
    <!--    </td>-->
    <td mat-cell *matCellDef="let element">{{element.type}} </td>
  </ng-container>
  <ng-container matColumnDef="message">
    <th mat-header-cell *matHeaderCellDef> message</th>
    <td mat-cell *matCellDef="let element">{{element.message}} </td>
  </ng-container>


  <!-- chart-->
  <ng-container matColumnDef="chart">
    <th mat-header-cell *matHeaderCellDef> chart</th>
    <td mat-cell *matCellDef="let element">
      <app-tinychart [code]="element.code" [size]="'tiny'"></app-tinychart>
    </td>
  </ng-container>


  <!-- marketcap -->
  <ng-container matColumnDef="marketcap">
    <th mat-header-cell *matHeaderCellDef> marketcap</th>
    <td mat-cell *matCellDef="let element">{{element.fundamental.martketcapAsString}} </td>
  </ng-container>

  <!-- indicator -->
  <ng-container matColumnDef="indicator">
    <th mat-header-cell *matHeaderCellDef> indicator</th>
    <td mat-cell *matCellDef="let element">
      <md-icon md-font-icon="fa fa-signal" (click)="chartdetail(element.code)"
               style="font-size: 20px"></md-icon>
      <md-icon md-font-icon="fa fa-file-word-o" (click)="comment(element.code)"
               style="font-size: 20px"></md-icon>
      <md-icon md-font-icon="fa fa-book" (click)="detail(element.code)" style="font-size: 20px"></md-icon>
      <md-icon ng-show="element.news.length" tooltip="element.news" md-font-icon="fa fa-inbox"
               ng-click="detail(element.code)"
               style="font-size: 20px"></md-icon>
      <app-multi-icon code={{element.code}} path="algo"></app-multi-icon>
    </td>
  </ng-container>

  <!-- news -->
  <ng-container matColumnDef="news">
    <th mat-header-cell *matHeaderCellDef> news</th>
    <td mat-cell *matCellDef="let element">
      <table id="example" class="table table-bordered table-hover">
        <tr *ngFor="let news of   element.news">
          <td>
            <a
              href="{{news.link}}"
              target="_blank"
            >{{news.title}}</a>
          </td>
        </tr>
      </table>
    </td>
  </ng-container>

  <!-- date -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> date</th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[25, 35, 50]" [pageSize]="35"></mat-paginator>
