<app-toolbar></app-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [opened]="'true'" [mode]="'side'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!--      <a mat-list-item *ngFor="let hero of useralgo" href="#{{hero.value}}">{{hero.value}} </a>-->


      <!--      <a mat-list-item *ngFor="let hero of useralgo" href="#{{hero.value}}">{{hero.value}} </a>-->


      <a mat-list-item *ngFor="let hero of useralgo"
         href="algo/datatable/{{hero.id}}?sector=300">{{hero.value}} </a>
      <a mat-list-item href="algo/news">NEWS </a>

    </mat-nav-list>


  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
