<p>
  displaychart works!
</p>

<div class="p-2">

  <button mat-button (click)="intervalstk()">
    <mat-icon>schedule</mat-icon>
  </button>
  <button mat-button (click)="list()">
    <mat-icon>list</mat-icon>
  </button>
  <button mat-button (click)="ministk()">
    <mat-icon>assessment</mat-icon>
  </button>

  <!--  <button mat-button>-->
  <!--    <mat-icon style="-->
  <!--    height:28px !important;-->
  <!--    width:28px !important;-->
  <!--    font-size:28px !important;">-->
  <!--      list-->
  <!--    </mat-icon>-->
  <!--  </button>-->

</div>

