<div layout="column">

    <table datatable="ng" id='details' dt-options="dataTableOpt" class="table table-striped table-bordered">

        <img ng-if="loading"
             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        <thead>
        <tr>
            <th>code</th>
            <th>price</th>
            <th>volume</th>
            <th>message</th>
            <th>news</th>

            <th>indicator</th>
            <th>date</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="datas in  data">
            <td><a
                    href="http://bigcharts.marketwatch.com/advchart/frames/frames.asp?show=&insttype=Stock&symb=AU%3A{{datas.code.substring(
            0,datas.code.indexOf( '.' )
            )}}&time=8&startdate=1%2F4%2F1999&enddate=8%2F28%2F2018&freq=1&compidx=aaaaa%3A0&comptemptext=&comp=none&ma=3&maval=50&uf=0&lf=1&lf2=0&lf3=0&type=2&style=320&size=4&x=49&y=15&timeFrameToggle=false&compareToToggle=false&indicatorsToggle=false&chartStyleToggle=false&state=11"
                    target="_blank"
            >{{datas.code}}</a></td>
            <td> {{datas.price }}</td>
            <td> {{datas.volume }}</td>
            <td> {{datas.message}}</td>
            <!--        <td> abc</td>-->
            <td>
                <table id="example" class="table table-bordered table-hover">
                    <tr ng-repeat="news in  datas.news">
                        <td> {{news.title}}</td>
                    </tr>
                </table>
            </td>

            <td>
                <md-icon md-font-icon="fa fa-signal" ng-click="chartdetail(datas.code)"
                         style="font-size: 20px"></md-icon>
                <md-icon md-font-icon="fa fa-file-word-o" ng-click="comment(datas.code)"
                         style="font-size: 20px"></md-icon>
                <md-icon md-font-icon="fa fa-book" ng-click="detail(datas.code)" style="font-size: 20px"></md-icon>
                <!--            <md-icon ng-hide="datas.news.length" md-font-icon="fa fa-inbox" ng-click="detail(datas.code)"-->
                <!--                     style="font-size: 20px"></md-icon>-->
                <md-icon ng-show="datas.news.length" tooltip="datas.news" md-font-icon="fa fa-inbox"
                         ng-click="detail(datas.code)"
                         style="font-size: 20px"></md-icon>
            </td>
            <td> {{datas.date}}</td>
        </tr>


        </tbody>
    </table>

</div>
