<!--<div ng-app="myApp" ng-controller="myCtrl">-->


<!--<div>-->
<div style="background-color; grey;">
    <form class="well input-form" name="inputform" ng-submit="myFunc()" ng-disabled="testuser">
        <ol>
            <li>Enter for MA in this format (Percentage) (<=>) ( MA )</li>
            <li ng-repeat="element in ma">
                <!--                <input type="text" ng-model="investigate.value"/>-->
                MA: <input type="text" ng-model="element.value" ng-disabled="testuser"/>
            </li>
        </ol>
        <input type="button" value="New Item" ng-click="newItem()" ng-disabled="testuser"/>
        <br/>
        <p>--------------------------------------------</p>
        <ol>
            <li ng-repeat="elementx in rsi">
                <!--                <input type="text" ng-model="investigate.value"/>-->
                RSI: <input type="text" ng-model="elementx.value" ng-disabled="testuser"/>
            </li>
        </ol>
        <input type="button" value="New Item" ng-click="newItem2()" ng-disabled="testuser"/>
        <p>--------------------------------------------</p>

        <ol>
            <li ng-repeat="elementx in falltoday">
                <!--                <input type="text" ng-model="investigate.value"/>-->
                fall today: <input type="text" ng-model="elementx.value" ng-disabled="testuser"/>
            </li>
        </ol>
        <input type="button" value="New Item" ng-click="newItem3()" ng-disabled="testuser"/>


        <p>--------------------------------------------</p>

        <ol>
            <li ng-repeat="elementx in volumex">
                <!--                <input type="text" ng-model="investigate.value"/>-->
                volume x: <input type="text" ng-model="elementx.value" ng-disabled="testuser"/>
            </li>
        </ol>
        <input type="button" value="New Item" ng-click="newItem4()" ng-disabled="testuser"/>


        <b>Click here to see ng-model value:</b><br/>
        <input type="button" value="submit" ng-click="show(elements)" ng-disabled="testuser">
        <p>
            <button type="submit" class="btn btn-info btn-fill pull-left" ng-disabled="testuser">Submit</button>
        </p>


    </form>
    <div class="alert alert-info">
        <h3> Only Registered user can add and change the configuration.</h3>
    </div>
</div>


7